# Django
# cd backend
# source ../venv/bin/activate
# python manage.py shell -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
# siga os 3 passos a cima para gerar a secret key
SECRET_KEY=sua-chave-secreta-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (se usar PostgreSQL futuramente)
# DB_NAME=
# DB_USER=
# DB_PASSWORD=
# DB_HOST=localhost
# DB_PORT=5432

# Frontend
VITE_API_URL=http://localhost:8000